@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fonts";
@import "base/reset";
@import "base/global";
@import "blocks/header-top";
@import "blocks/header-mobile";
@import "blocks/header-bottom";
@import "components/slider";
@import "blocks/advantages";
@import "blocks/top-products";
@import "blocks/banners";
@import "blocks/promo";
@import "blocks/brands";
@import "blocks/news";
@import "blocks/footer";
@import "product-page/product";
@import "components/product-slider";
@import "product-page/product-tabs";
@import "product-page/product-comments";
@import "product-page/product-review";
@import "components/recent-slider";
@import "catalog-page/catalog";
@import "filters/filter-price";