@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fonts";
@import "base/reset";
@import "base/global";
@import "blocks/header-top";
@import "blocks/header-mobile";
@import "blocks/header-bottom";
@import "components/slider";
@import "blocks/advantages";
@import "blocks/top-products";
@import "blocks/banners";
@import "blocks/promo";
@import "blocks/brands";