body {
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 line-height: 1.6;
 color: $textColor;
}

.title {
 @include text(24px, 1.4, $titleColor);
 font-family: "Ruda", sans-serif;
 font-weight: 600;
 text-align: center;
 margin-bottom: 24px;
 text-transform: uppercase;
}

.logo {
 display: none;
 @include media (xl) {
  display: block;
 }
}

.logo-mobile {
 display: block;
 margin-right: 20px;
  @include media (xl) {
   display: none;
  }
}

.breadcrumbs {
 background-color: $breadcrumbsBg;
 padding: 24px 0;
  .container {
   @extend %container;
  }
  &__list {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
  }
  &__item {
   position: relative; 
   &::before,
   &::after {
    @include pseudo;
    @include background (url("../../images/icons/arrow-breadcrumbs.svg"));
    width: 6px;
    height: 10px;
    left: -11px;
    top: 8px;
   }
  &::after{
   @include background (url("../../images/icons/arrow-breadcrumbs.svg"));
   left: 118px;
   top: 8px;
   }
  &:nth-child(odd) { 
   &::before,
   &::after {
    display: none;
   }
  }
   &:not(:last-child) {
    padding-right: 16px;
   }
  }
  &__link {
   @include text(14px, 1.2, $textColor);
  }
}

.pagination {
 display: flex;
 justify-content: center;
 &__arrow {
  width: 48px;
  height: 48px;
  background-color: $breadcrumbsBg;
  position: relative;
  &::before {
   @include pseudo;
   width: 11px;
   height: 18px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
  }
 }
 &__prev {
  margin-right: 6px;
   &::before {
    @include background (url("../images/icons/arrow-left.svg"));
   }
 }
 &__list {
  display: flex;
 }
 &__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: $breadcrumbsBg;
  &:not(:last-child) {
   margin-right: 6px;
  }
  &:nth-child(even) {
   display: none;
    @include media (lg) {
     display: flex;
    }
  }
 }
 &__link {
  @include text(18px, 1, $textColor);
 }
 &__next {
  margin-left: 6px;
   &::before {
    @include background (url("../images/icons/arrow-right.svg"));
   }
 }
}

.catalog-filters__btn-close {
 width: 18px;
 height: 18px;
 position: absolute;
 cursor: pointer;
 right: 15px;
 top: 20px;
  @include media (md) {
   display: none;
  }
}

.catalog-filters__line {
 display: block;
 width: 18px;
 height: 2px;
 background-color: $titleColor;
 transform: rotate(45deg);
 position: relative;
  &::before {
   @include pseudo;
   width: 18px;
   height: 2px;
   background-color: $titleColor;
   top: 0;
   transform: rotate(90deg);
  }
}