.product-review {



 &__subtitle {
  @include text(18px, 1.2, $titleColor);
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
 }
 &__estimate {
  color: $titleColor;
  margin-right: 18px;
 }
 &__star {
  display: inline-block;
 }
 &__form {
  margin-top: 18px;
 }
 &__label {
  display: block;
   &:not(:last-child) {
    margin-bottom: 18px;
   }
   span {
    @include text(16px, 1.3, $titleColor);
    font-weight: 600;
    display: block;
    margin-bottom: 12px;
   }
 }
 &__entry {
  @include text(14px, 1.3, #C1C1C1);
  width: 345px;
  height: 165px;
  resize: none;
  padding: 18px;
  border: 1px solid #C1C1C1;
  border-radius: 3px;
  outline: none;
  transition: all 0.5s;
   &:hover,
   &:focus {
    border-color: $secondaryColor;
   }
 }
 &__field {
  width: 100%;
  padding: 18px;
  border: 1px solid #C1C1C1;
  border-radius: 3px;
  outline: none;
  transition: all 0.5s;
   &::placeholder {
    @include text(14px, 1.3, #C1C1C1);
   }
   &:hover,
   &:focus {
    border-color: $secondaryColor;
   }
   transition: all 0.5s;
 }
 &__label-checkbox {
  display: flex;
  align-items: baseline;
 }
 &__checkbox {
  margin-right: 12px;
  transform: scale(1.8);
  cursor: pointer;
 }
 &__text {
  @include text(14px, 1.3, $textColor);
 }
 &__btn {
  @include text(18px, 1.3, $primaryColor);
  background-color: $secondaryColor;
  border-radius: 6px;
  padding: 12px 24px;
  transition: all 0.5s;
  &:hover {
   background-color: #4D810C;
  }
  &:focus {
   box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
  }
  &:active {
   background-color: $primaryColor;
   box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
   color: $secondaryColor;
  }
 }
}