.advantages {
 background-color: #F6F6F6;
 padding: 50px 0 30px;
  .container {
   @extend %container;
  }
  &__inner {
   display: flex;
   flex-direction: column;
   align-items: center;
    @include media (lg) {
     flex-direction: row;
     justify-content: space-around;
     align-items: flex-start;
    }
    @include media (xl) {
     justify-content: space-between;
    }
  }
  &__delivery,
  &__returns,
  &__support {
   position: relative;
   width: 215px;
    &::before {
     @include pseudo;
     width: 50px;
     height: 50px;
     left: -65px;
    }
    @include media (lg) {
     width: 190px;
    }
  }
  &__delivery {
   margin-bottom: 30px;
    &::before {
     @include background (url("../images/icons/scooter.svg"));
    }
    @include media (lg) {
     margin-bottom: 0;
    }
  }
  &__returns {
   margin-bottom: 30px;
    &::before {
     @include background (url("../images/icons/return.svg"));
    }
    @include media (lg) {
     margin-bottom: 0;
    }
  }
  &__support {
   &::before {
    @include background (url("../images/icons/hours.svg"));
   }
  } 
  &__delivery-title,
  &__returns-title,
  &__support-title {
   @include text(16px, 1.4, $titleColor);
   font-weight: 700;
   margin-bottom: 5px;
  }
  &__delivery-text,
  &__returns-text,
  &__support-text {
   @include text(14px, 1.4, $textColor);
  }
}