.brands {
 padding: 60px 0;
 .container {
  @extend %container;
 }
 &__slider {
  @include media (sm) {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
  }
  @include media (lg) {
   justify-content: space-between;
  }
 }
 &__image   {
  margin-right: 51px;
   @include media (sm) {
   margin: 20px;
   } 
   @include media (lg) {
    margin: 0;
   } 
 }
 .slick-track{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
 }
 .slick-dots {
  display: flex;
  justify-content: center;
  font-size: 0;
   li {
    width: 10px;
    height: 10px;
    background-color: $primaryColor;
    border: 1px solid #C1C1C1;
    border-radius: 50%;
    z-index: 444;
     &:not(:last-child) {
      margin-right: 12px;
     }
   }
 }
}