.footer {
 @include text(14px, 1.4, $primaryColor);
 background-color: $accentColor;
 padding: 30px 0 24px;
 text-align: center;
 .container {
  @extend %container;
 }
 &__logo {
  display: block;
  margin-bottom: 24px;
 }
 &__contacts {
  
 }
 &__hot-line {
  margin-right: 1px;
 }
 &__address {
  margin: 18px 0;
 }
 &__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
 }
 &__social-item {
  &:not(:last-child) {
   margin-right: 12px;
  }
 }
 &__box {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }
 &__list {
  text-align: left;
  &:not(:last-child) {
   margin-right: 50px;
  }
 }
 &__item {
  &:not(:last-child) {
   margin-bottom: 18px;
  }
 }
 &__form {
  padding: 24px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }
 &__form-text {
  margin-bottom: 18px;
  padding-left: 17px;
 }
 &__field {
  width: 180px;
  padding: 9px 0 11px 12px;  
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
 }
 &__btn {
  @include text(12px, 1.3, $primaryColor);
  font-weight: 700;
  background-color: $secondaryColor;
  padding: 12px;
  max-width: 118px;
  margin-left: -5px;
  border-radius: 0 6px 6px 0;
 }
 &__copyright {
  padding: 24px 0;
 }
 &__copyright-list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
 }
 &__copyright-item {
  &:not(:last-child) {
   margin-right: 24px;
  }
 }
}