.header-mobile {
 &__content {
  position: fixed;
  left: -300%;
  top: 0;
  background-color: $primaryColor;
  padding: 26px 0 24px;
  height: 717px;
  width: 300px;
  transition: left 0.8s;
  z-index: 888;
 }
 .header-mobile--active  &__content{
  left: 0;
 }
 &__logo {
  width: 200px;
  height: 60px;
  margin-bottom: 27px;
  margin-right: 20px;
 }
 &__user {
  background-color: $secondaryColor;
  padding: 15px 0;
  margin-bottom: 14px;
  margin-top: 26px;
  display: flex;
  justify-content: center;
 }
 &__login,
 &__registr {
  @include text(18px, 1, $primaryColor);
 }
 &__login {
  padding-right: 20px;
  position: relative;
  border-right: 3px solid $primaryColor;
  &::before {
   @include pseudo;
   @include background (url("../images/icons/user.svg"));
   width: 26px;
   height: 32px;
   left: -35px;
   bottom: -5px;
  }
 }
 &__registr {
  padding-left: 20px;
 }
 &__container {
  padding: 0 15px;
 }
 &__box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
 }
 &__burger-btn {
  width: 25px;
  height: 20px;
  margin-right: 15px;
 }
 &__burger-line {
  display: block;
  width: 25px;
  height: 2px;
  background-color:#31352B;
  position: relative;
   &::after,
   &::before {
    @include pseudo;
    width: 25px;
    height: 2px;
    background-color:#31352B;
   }
   &::before {
    width: 20px;
    top: 10px;
   }
   &::after {
    top: 20px;
   }
 }
 &__link {
  @include text(18px, 1, #31352B);
  font-weight: 600;
  letter-spacing: 0.03em;
 }
 &__contacts {
  padding: 26px 0;
  border-top: 1px solid rgba(193, 193, 193, 0.3);
  border-bottom: 1px solid rgba(193, 193, 193, 0.3);
 }
 &__tel,
 &__text {
  padding-left: 40px;
 }
 &__tel {
  @include text(18px, 1, $accentColor);
  display: block;
  margin-bottom: 18px;
  position: relative;
   &::before {
    @include pseudo;
    @include background (url("../images/icons/phone-black.svg"));
    width: 24px;
    height: 24px;    
    left: 0;
   }
 }
 &__text {
  @include text (18px, 1.2, $accentColor);
  margin-bottom: 18px;
  position: relative;
  &::before {
   @include pseudo;
   @include background (url("../images/icons/location-black.svg"));
   width: 25px;
   height: 32px;
   left: 0;
  }
 }
 &__social {
  display: flex;
  align-items: center;
 }
 &__social-item {
  &:not(:last-child) {
   margin-right: 12px;
  }
  &:hover {
   svg {
    path {
     fill: rgba(136, 133, 133, 0.5);
    }
   }
  }
 }
 &__list {
  padding-top: 24px;
 }
 &__list-item {
  &:not(:last-child) {
   padding-bottom: 7px;
   margin-bottom: 8px;
  }
 }
 &__list-link {
  @include text (18px, 1.2, $accentColor);
  transition: border-color 0.5s ease;
   &:hover {
    border-bottom: 1px solid $secondaryColor;
   }
 }
}