.promo {
 background-color: #F5F5F5;
 padding: 48px 0;
 text-align: center;
 .container {
  @extend %container;
 }
 &__filters {
  text-align: center;
  margin-bottom: 28px;
 }
 &__filter {
  display: inline-block;
   &:not(:last-child) {
    margin-right: 30px;
   }
 }
 &__btn {
  @include text(14px, 1.4, $textColor);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  &:hover {
   color: $secondaryColor;
  }
  &:focus {
   box-shadow: 0px 0px 0px 3px #E0EDCF;
   border-radius: 3px;
  }
 }
 &__content {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  margin-bottom: 24px;
  text-align: left;
 }
 &__item {
  display: flex;
  background-color: $primaryColor;
  border: 1px solid #C1C1C1;
  border-radius: 6px;
  padding: 13px 10px;
  width: 300px;
  height: 128px;
   &--center {
    align-items: center;
   }
 }
 &__item-new,
 &__item-hit {
  position: relative;
   &::before {
    @include pseudo;
    @include text(10px, 1, $primaryColor);
    font-weight: 700;
    content: "НОВИНКА";
    background-color: $secondaryColor;
    border-radius: 6px;
    padding: 3px 6px;
    left: 5px;
    top: 8px;
   } 
 }
 &__item-hit {
  &::before  {
   content: "ХИТ";
   background-color: #FF7A00;
  }
 } 
 &__image {
  width: 100px;
  height: 100px;
  margin-right: auto; 
 }
 &__box {
  display: flex;
  flex-direction: column;
  max-width: 160px;
  width: 100%;
 }
 &__name {
  @include text(14px, 1.4, $titleColor);
  margin-bottom: 6px;
 }
 &__status {
  @include text(10px, 1, $secondaryColor);
  font-weight: 700;
  margin-top: auto;
  margin-bottom: 5px;
   &--ending {
    color: #CF3E3B;
   }
   &--not {
    color: #C1C1C1;
   }
 }
 &__holder {
  display: flex;
  align-items: center;
 }
 &__prices {
  margin-right: auto;
 }
 &__price-new {
  @include text(20px, 1, $textColor);
  font-weight: 700;
  margin-right: 12px;
   span {
    font-size: 14px;
   }
 }
 &__price-old {
  @include text(12px, 1, #C1C1C1);
  position: relative;
   &::before {
    @include pseudo;
    background-color:#C1C1C1;
    width: 35px;
    height: 1px;
    left: 0;
    top: 6px;
    transform: rotate(-14.99deg);
   }
 }
 &__rating {
  @include text(14px, 1, $textColor);
  font-weight: 700;
  padding-right: 20px;
  position: relative;
   &::after {
    @include pseudo;
    @include background (url("../images/icons/star.png"));
    width: 16px;
    height: 15px;
    left: 25px;
    top: -2px;
   }
  }
 &__link {
  @include text(18px, 1.3, $primaryColor);
  display: inline-block;
  background-color: $secondaryColor;
  border: 1px solid $secondaryColor;
  border-radius: 6px;
  padding: 12px 24px;
  transition: all 0.5s;
  &:hover {
   background-color: #EFF6E7;
   color: $secondaryColor;
  }
  &:focus {
   box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
  }
  &:active {
   background-color: $primaryColor;
   box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
  }
 }
 }


 


