$accentColor:#31352B;
$primaryColor: #fff;
$secondaryColor: #63A60E;
$titleColor: #121212;
$textColor: #505050;





$breakpoints: (
 sm: 576px,
 md: 768px,
 lg: 992px,
 xl: 1440px,
);

%container {
 max-width: 1250px;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px; 
 @media screen and (min-width: 576px) {
  padding: 0 35px;
 }
 @media screen and (min-width: 768px) {
  padding: 0 25px;
 }
 @media screen and (min-width: 1280px) {
  padding: 0 20px;
 }
}

%container_slider-content {
 max-width: 1250px;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px; 
 @media screen and (max-width: 576px) {
  padding: 0;
 }
 @media screen and (min-width: 768px) {
  padding: 0 25px;
 }
}