$accentColor:#31352B;
$primaryColor: #fff;
$secondaryColor: #63A60E;
$titleColor: #121212;
$textColor: #505050;
$breadcrumbsBg: #F6F6F6;





$breakpoints: (
 xs: 470px,
 sm: 576px,
 md: 768px,
 lg: 992px,
 xl: 1200px,
 xxl: 1400px,
);

%container {
 max-width: 1350px;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px; 
 @media screen and (min-width: 576px) {
  padding: 0 35px;
 }
 @media screen and (min-width: 768px) {
  padding: 0 25px;
 }
 @media screen and (min-width: 1400px) {
  padding: 0 20px;
 }
}

%container_slider-content {
 max-width: 1250px;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px; 
 @media screen and (max-width: 576px) {
  padding: 0;
 }
 @media screen and (min-width: 768px) {
  padding: 0 25px;
 }
}

%checkbox-hidden,
%radio-hidden {
 width: 1px;
 height: 1px;
 overflow: hidden;
 clip: rect(0 0 0 0);
 position: absolute;
}